<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div id="sidebar">
    </div>
    <div id="content">
      <ul id="messages"></ul>
      <div id="typing"></div>
      <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." style="width: 80%;"/><button>Send</button>
      </form>
    </div>
    <script>
            var socket = io.connect('http://localhost:8080');

            function write(item, index) {
              $('#sidebar').append($('<li>').html(item));
            }

            //typing interno
            function isTyping(){
              socket.emit('is_typing');
            }
            
            //typing esterno
            socket.on('ext_typing', function(msg){
              document.getElementById("typing").innerHTML = "";//reset per overwrite
              $('#typing').append($('<p>').html(msg));
                setTimeout(function(){document.getElementById("typing").innerHTML = "";}, 3000);
            });

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);

            socket.on('onlinelist', function(onlinelist){
              document.getElementById("sidebar").innerHTML = "";
              onlinelist.forEach(write);
              $('#sidebar').append($('<br>'));
            });

    </script>
  </body>
</html>