<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div id="sidebar">
    </div>
    <div id="content">
      <ul id="messages"></ul>
      <div id="typing"></div>
      <form action="/" method="POST">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..."/><button>Send</button>
      </form>
    </div>
    <script>
            var socket = io.connect('http://localhost:8080');

            //ah non lo chiedere a me
            function djb2(str){
            var hash = 5381;
            for (var i = 0; i < str.length; i++) {
              hash = ((hash << 5) + hash) + str.charCodeAt(i); /* hash * 33 + c */
            }
              return hash;
            }

            function hashStringToColor(str) {
              var hash = djb2(str);
              var r = (hash & 0xFF0000) >> 16;
              var g = (hash & 0x00FF00) >> 8;
              var b = hash & 0x0000FF;
              return ("0" + r.toString(16)).substr(-2) + ("0" + g.toString(16)).substr(-2) + ("0" + b.toString(16)).substr(-2);
            }

            //typing mio
            function isTyping(){
              socket.emit('is_typing');
            }
            
            //typing di qualcuno
            socket.on('ext_typing', function(msg){
              document.getElementById("typing").innerHTML = "";//reset per overwrite
              $('#typing').append($('<p>').html(msg));
                setTimeout(function(){document.getElementById("typing").innerHTML = "";}, 3000);
            });

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            // append the chat text message and color it
            socket.on('chat_message', function(msg, username){
                var cloudColor = hashStringToColor(username);
                luminance = ( 0.299 * parseInt((cloudColor.charAt(0) + cloudColor.charAt(1)),16) + 0.587 * parseInt((cloudColor.charAt(2) + cloudColor.charAt(3)),16) + 0.114 * parseInt((cloudColor.charAt(4) + cloudColor.charAt(5)),16))/255;
                if(luminance < 0.5)
                  var textColor = "white";
                else
                  var textColor = "black";
                $('#messages').append($('<li style="background-color: #' + cloudColor + '; color: ' + textColor + ';">').html(msg));
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            // ask username
            var username = prompt('Please tell me your name');
            username = username.slice(0, 25);
            document.title = username;
            socket.emit('username', username);

            //lista utenti online
            socket.on('onlinelist', function(onlinelist){
              document.getElementById("sidebar").innerHTML = "";
              onlinelist.forEach(function (item, index) {
                var cloudColor = hashStringToColor(item);
                luminance = ( 0.299 * parseInt((cloudColor.charAt(0) + cloudColor.charAt(1)),16) + 0.587 * parseInt((cloudColor.charAt(2) + cloudColor.charAt(3)),16) + 0.114 * parseInt((cloudColor.charAt(4) + cloudColor.charAt(5)),16))/255;
                if(luminance < 0.5)
                  var textColor = "white";
                else
                  var textColor = "black";
                $('#sidebar').append($('<li style="background-color: #' + cloudColor + '; color: ' + textColor + ';">').html(item));
                //$('#sidebar').append($('<li>').html(item));
            });
            });

    </script>
  </body>
</html>