@font-face {
    font-family: PayPalSansSmall-Regular;
    src: url(PayPal.ttf);
  }

body { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 14px PayPalSansSmall-Regular;
}

form {
    background: #fff;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #687173;
    border-top-style: solid;
    border-top-width: 1px;
}

form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 40%;
    margin: .5%;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}

form button {
    width: 9%;
    background: #0070ba;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

form button:hover{
    background: #003087;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#messages i {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #f5f7fa;
}

#sidebar {
    float: left; 
    height: 100%;
    width: 160px;
    position: fixed;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(150deg,#0070ba,#1546a0);
}

#sidebar li {
    list-style-type: none;
}

#content {
    margin-left: 180px;
}

#typing {
    bottom: 45px;
    position: fixed;
    width: 100%;
}