body { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 13px Helvetica, Arial;
}
form {
    background: #fff;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
}
form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 85%;
    margin-right: .5%;
}
form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    margin-left: 2%;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #f5f7fa;
}
#sidebar {
    float: left; 
    height: 100%;
    width: 160px;
    position: fixed;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(150deg,#0070ba,#1546a0);
}
#content {
    margin-left: 180px;
}